{% extends "base.html" %}
{% block body %}

<div class="menu">
      <h6 style="color:White; font-family: sans-serif;"> &emsp;<a href="/calender" style="color:White; font-family: sans-serif;">Calender</a> &emsp; <a href="/today" style="color:White; font-family: sans-serif;">Today</a></h6>
</div>
<div class="out">
<h6 style="color:White; font-family: sans-serif;">
<a href="/logout" style="color:White; font-family: sans-serif;">
Logout
</a>
</h6>
</div>

<div class="perspective-text">
      <div class="perspective-line">
        <p></p>
        <p>Click</p>
      </div>
      <div class="perspective-line">
        <p>Click</p>
        <p>On the Tabs</p>
      </div>
      <div class="perspective-line">
        <p>On the Tabs</p>
        <p>To</p>
      </div>
      <div class="perspective-line">
        <p>To</p>
        <p>Get Started!</p>
      </div>
      <div class="perspective-line">
        <p>Get Started!</p>
        <p></p>
      </div>
    </div>

{% endblock %}
