{% extends "base.html" %}
{% block body %}
     <div class="box">
          <div class="form">
              <h2> Login</h2>
              <form method = "post" action = "/login">
              <div class = "inputBx">
                  <input name = "username" type = "text" id = "username" placeholder = "Username" required/>
                  <img src = "{{url_for('static', filename='user.png')}}" width="50" height="50">
              </div>
              <div class = "inputBx">
                  <input name = "password" type = "password" id = "password" placeholder = "Password" required/>
                  <img src = "{{url_for('static', filename='lock.png')}}" width="50" height="50">
              </div>
              <div class = "inputBx">
                  <input type = "submit" value = "Login"/>
              </div>
              </form>
      <p style="color:White; font-family: sans-serif;">
        <a href="{{url_for('plan.create')}}">Create an account</a></p>
        <p>
        {{status}}
        </p>
        </div>
     </div>
{% endblock %}
